.badge {
  background-color: "#87D068";
}

.progress {
  max-width: 97%;
}

.card {
  background-color: #332e59;
  border-radius: 10px;
  padding: 10px;
}

.childContainer {
  position: absolute;
  right: 0;
}
