.polygon {
  clip-path: polygon(26% 1%, 76% 1%, 99% 51%, 76% 99%, 26% 99%, 1% 51%);
  max-height: 60px;
  min-width: 70px;
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
}

.avatar {
  max-width: -webkit-fill-available;
}

img {
  border: 5px solid #555;
}
